.underline{
    border-bottom: #D8D8D8  solid thin;
    width: 450px;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}

.underline-terms{
    border-bottom: #D8D8D8  solid thin;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 12px;
    margin-top: 100px;
    margin-bottom: 80px;
}


.fundStructure{
    padding-top: 40px;
}

.subscriptionGap{
    padding-top: 10px;
    
}

.leftAlign{
    padding-left: 0;
}
.topZero{
    padding-top: 0;
}

.mainDetails{
    padding-top: 40px; 
}

.shiftInline{
    display: inline;
}

.fontSize{
    font-size: 18px;
}

.terms-header{
    letter-spacing: -2px; 
    text-align: center;
    padding: 12px 0;
}

.terms-table-data{
    text-align: center; 
    padding: 12px 0;
}



.terms-table-gap{
    
    border-bottom:   rgb(197,184 , 95)solid 3px;
   
}

.table-spec{

    border-bottom:  #E6E6E6  solid thin;
}

.verticle-borders{
    border-right: 1px solid #D8D8D8;
}

.color-rows{
    background-color:  #F7F4F4 ;  
}


.table-structure{
    padding-left: 10px;
}
.tax-space{
    padding-top: 10px;
}

.tax-head-space{
    padding-top: 12px; 
}